[submodule "drivers/gpio"]
	path = drivers/gpio
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/gpio.git
[submodule "drivers/usart"]
	path = drivers/usart
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/usart.git
[submodule "modules/Debug"]
	path = modules/Debug
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/debug.git
[submodule "drivers/1wire"]
	path = drivers/1wire
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/1wire.git
[submodule "drivers/ds1302"]
	path = drivers/ds1302
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/ds1302.git
[submodule "modules/System"]
	path = modules/System
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/system.git
[submodule "modules/SsdMgr"]
	path = modules/SsdMgr
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/ssd_mgr.git
[submodule "modules/1WireMgr"]
	path = modules/1WireMgr
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/1wire_mgr.git
[submodule "modules/InputMgr"]
	path = modules/InputMgr
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/input_mgr.git
[submodule "drivers/common"]
	path = drivers/common
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/common.git
[submodule "modules/Stat"]
	path = modules/Stat
	url = https://github.com/a-d-v-e-n-t-u-r-o-u-s/stat.git
