Requirements:

Operating temperature:          -40C - 85C
Power supply:                   5V Mico-USB cable
Current consumption:            max. 200mA


Tempearture measurements[in whole temperature operating range]:

Range: -55C - 125C
Units: Celcius or Fahrenheit
Accuracy: -----




Time keeping:

Modes: 12h or 24h

